<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot_Password-Expense Tracker</title>
    <link rel="stylesheet" href="/css/forgotPassword.css">
</head>
<body>
    <h1 class="title">Expense Tracker</h1>
    <div class="form-container">
        <form onsubmit="forgetPassword(event)">
            <!-- Email Field -->
            <label for="email">Enter Email</label><br>
            <input type="email" id="email" name="email" required><br>

            <!-- Submit Button -->
            <button id="forget">Send Link</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/forgotPassword.js"></script>
</body>
</html>
