<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/index4.css">
     <script src="https://kit.fontawesome.com/b16e4e26d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

        <a class="navbar-brand" href="#"><img src="/images/logo.jpg" alt="brand-image" width="50px" height="50px"></a>
        <h2 id="headl">Expense Tracker</h2>
        <nav >

            <ul id="sidemenu">
            
                <li>
                    <a href="index3"  class="active">Home</a>
                </li>
                <li>
                    <a href="index1" >Add-Expense</a>
                </li>
                <li>
                    <a href="index2">Watch-Expenses</a>
                </li>
                <li>
                    <a href="index4"  class="active">Premium Features</a>
                </li>
                <li>
                    <a href="login">Log Out</a>
                </li>
                <i class="fa-solid fa-xmark non" onclick="closemenu()"></i>
             
            </ul>
            <i class="fa-solid fa-bars non" id="open"onclick="openmenu()"></i>
        </nav>
    </header>
        
    <br><br><br><br><br><br>
    <div id="message"></div>
    <div id="report"></div>
    <button id="rzp-button1">Buy Premium</button>
    <div id="message2"></div>
    <div id="leaderboard"></div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/purchase.js"></script>

</body>
</html>
