/* Reset some default styles */
body, h1, h2, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.report-column {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="date"],
input[type="month"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

#downloadButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}


@media only screen and (max-width: 667px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .report-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .button {
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }
}
