<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses</title>
</head>
<body>
    <body>
        <form id="expenseform">
        Choose expenseamout:<input type="number" name="expense" id="amount">
        Choose description: <input type="text" name="description" id="description">
        Choose a category: <select name="category" id="category">
            <option class="option" value="Gadgets">Gadgets</option>
            <option class="option" value="Groceries">Groceries</option>
            <option class="option" value="Travel">Travel</option>
            </select>
             <button>Add Expenses</button>
         </form>
         <div id="premium-message"></div>
         <button id="premium-button">Buy Premium</button>
         <div id="showdownloadbutton"></div>
         
         <div id="Leaderboard"></div>
         <div id="expenseError"></div><br>
         <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

           
            <label for="rows">Rows per Page</label>
            <select name="rows" id="rows">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
            </select>
        
          <ul id="showexpenses"></ul>
          <div id="pagination-button"></div>
          <ul id="showLeaderboard"></ul>
          <ul id="showurls"></ul>



        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/expense.js"></script>
</body>
</html>
