<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form  id="loginform">
        Enter your email: <input type="text" name="email" class="loginemail">
        password: <input type="password" name="password" class="loginpassword">
        <button type=submit>login</button>
    </form>

    <a href="signup.html">Don't have an account? Sign Up</a> <br>
    <a href="password.html">Forgot password</a>
    <!-- <button id="forgotbutton">Forgot Password</button> -->
    <form id="forgotpasswordform" onSubmit=""></form>

    <div id="loginerror"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/login.js"></script>
    
</body>
</html>
