<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form id="signupform">
        Enter your name: <input type="text" name="username" class="username" required>
        Enter your email: <input type="text" name="useremail" class="useremail" required>
        password: <input type="password" name="password" class="userpassword" required>
        <button type="submit">Signup</button>
    </form>
    <a href="login.html">Already have an account? Log In</a>
    

    <div id="signuperror"></div>

    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/signup.js"></script>
    
</body>
</html>
