<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view details</title>
</head>
<body>
    <h2>Day to Day Expenses</h2>

    <table>
        <thead>
            <tr>
               <th>Date</th> 
               <th>Description</th>
               <th>Category</th>
               <th>Income</th>
               <th>Expense</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01-12-2023</td>
                <td>Milk</td>
                <td>Milk</td>
                <td></td>
                <td>60.00</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>0.00</td>
                <td></td>

            </tr>
            <tr>
                <td>04-12-2023</td>
                <td>Salary</td>
                <td>Salary</td>
                <td>40,000.00</td>
                <td></td>

            </tr>
            <tr>
                <td>04-12-2023</td>
                <td>Fruits</td>
                <td>Fruits</td>
                <td></td>
                <td>500</td>
            </tr>
            <tr>
                <td>04-11-2023</td>
                <td>Medicines</td>
                <td>Health</td>
                <td></td>
                <td>50</td>
            </tr>

        </tbody>
    </table>
    <br>
    <h2>Yearly Expenses</h2>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Income</th>
                <th>Expense</th>
                <th>Saving</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>March</td>
                 <td>60,000.00</td>
                 <td>5670.00</td>
                 <td>54330.00</td>
            </tr>
            <tr>
                <td></td>
                <td>₹60,000.00</td>
                <td>₹5670.00</td>
                <td>₹54,330.00</td>

            </tr>
            
            
        </tbody>
        
    </table>
    <br>
    <h2>Notes Report 2023</h2>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Notes</th>
    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11-12-2023</td>
                <td>Gave an advance to construction</td>
            </tr>
            <tr>
                <td>16-12-2023</td>
                <td>paid house rent</td>
            </tr>
            <tr>
                <td>17-12-2023</td>
                <td>recieved a salary</td>
            </tr>
            <tr>
                <td>10-12-2023</td>
                <td>paid scool fee</td>
            </tr>
           
        
        </tbody>
        
    </table>

    
</body>
</html>
